/*Estilos de reset*/
*{
    margin: 0;
    padding: 0;
}
h1, p{
    color: white;
}
body{
    background-image: url(https://www.xtrafondos.com/descargar.php?id=7888&resolucion=1920x1080);
    background-position: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor{
    width: 90%;
    margin: auto;
    text-align: center;
}
img{
    width: 50%; 
    border: 1px solid black;
}